@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body {
  color: #fff;
}

#home-page {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "app-newsletter app-newsletter app-funnel app-funnel"
    "app-last-videos app-last-videos app-last-videos app-last-videos"
    "app-collaborate app-last-posts app-last-posts app-last-posts"
    "app-numbers app-last-posts app-last-posts app-last-posts";
}

#home-page .app-newsletter {
  grid-area: app-newsletter;
}

#home-page .app-funnel {
  grid-area: app-funnel;
}

#home-page .app-last-videos {
  grid-area: app-last-videos;
}

#home-page .app-collaborate {
  grid-area: app-collaborate;
}

#home-page .app-numbers {
  grid-area: app-numbers;
}

#home-page .app-last-posts {
  grid-area: app-last-posts;
}
