@import "@/assets/styles/theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-background);
}

body {
  min-height: 100vh;
  color: var(--primary-text-color);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}
