:root {
  --primary-color: #ff8c00;
  --primary-text-color: #fff;
  --secondary-text-color: #ddd;
  --primary-background-color: #111;
  --secondary-background-color: #333;
  --scrollbar-track-background: #000;
  --scrollbar-thumb-background: #222;
  --scrollbar-thumb-hover-background: #333;

  .is-light {
    --primary-color: #ffcc00;
    --primary-text-color: #333;
    --secondary-text-color: #555;
    --primary-background-color: #fff;
    --secondary-background-color: #eeea;
    --scrollbar-track-background: #fff;
    --scrollbar-thumb-background: #ddd;
    --scrollbar-thumb-hover-background: #ccc;
  }
}
