@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";

$primary: #fc0;
$primary-invert: findColorInvert($primary);
$secondary: #03a9f4;
$secondary-invert: findColorInvert($secondary);
$success: #4caf50;
$warning: #faad14;
$danger: #f44336;
$info: #276cda;
$blue: #276cda;

$font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
$family-primary: $font-family;

@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
);

$colors: map-merge($colors, $addColors);

@import "../../../node_modules/bulma/bulma.sass";

.button {
  transition: all 0.2s;

  &.is-warning:not(.is-light) {
    color: #fff !important;
  }

  &:focus:not(:active) {
    box-shadow: 0 0 0 0.125em $primary;
  }
}

a {
  transition: all 0.2s !important;

  &:hover {
    color: $secondary;
  }
}

p {
  font-weight: 500;
}

.title,
.subtitle {
  color: var(--primary-text-color);
}

.title {
  margin-bottom: 0.75rem !important;
  font-size: 1.5rem;
}

.button {
  border: 1px solid var(--primary-text-color) !important;
  border-radius: 6px;
  transition: all 0.2s ease;

  &:hover {
    border-color: transparent !important;
  }
}
