:root {
  --primary-color: #fc0;
  --secondary-color: #03a9f4;
  --success-color: #4caf50;
  --warning-color: #faad14;
  --danger-color: #f44336;
  --info-color: #276cda;

  --primary-text-color: #4a4a4a;
  --secondary-text-color: #fff;
}
